h1{
    color:rgb(40, 12, 17);
    border: 4px solid;
    border-color:palevioletred
   }
   h2{
    color: brown;
    border: 4px solid;
    border-color: palevioletred;
   }
   h3{
    color: brown;
    font-size: 40px;
    margin-left: 20px ;
   }
   body{
    background-color: rgb(208, 183, 155);
   }
   .mar{
    max-width: 600px;
    margin-left: 400px;
    background-color: rgb(130, 186, 186);
   }
   .menu{
    display: flex;
    margin-bottom: 20px;
    margin-left: 100px;
   }
   .photo{
    border: 4px solid;


   }